*{
    margin: 0;
    padding: 0;
}

nav {
    padding: 20px;
    background-color: black;
    color: white;
}

li,h1{
    display: inline;
}

ul{
    margin-left: 70%;
    display: inline;
}

li{
    color: gray;
}

li:hover{
    cursor: pointer;
    color: white;
}


/*Search Bar*/

.searchbar{
   padding: 30px;
   text-align: center;
   
}

input{
    width: 70%;
    padding: 10px;
}

/*Main section img*/

img{
    width: 220px;
}

.main_section_container{
    padding: 30px;
    text-align: center;

}



.Box{
    width: 220px;
    border: black solid 2px;
    display: inline-block;
    text-align: center;
    
}

.Box:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.about{
    align-items: center;
     margin-top: 20px;
}

.about p{
    padding: 20px;
    font-size: larger;
}

.contact{
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}


footer{
    background-color: black;
    color: white;
}


@media screen and (max-width:800px){
    li{
        display: none;
    }
}

